<!DOCTYPE html>
<html lang="en">
<head>
    <title>ELFE Prover</title>
    <meta charset="utf-8">  
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.2.1/vue-resource.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <link href="css/normalize.css" rel="stylesheet" type="text/css" />
    <link href="css/skeleton.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/prover.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <div class="container">
        <div class="header">
            <a href="/"><img src="images/logo.png" class="logo" /></a>
            

            <div class="nav">
                <a href="/">Home</a>
                <a href="/downloads/tutorial.pdf">Tutorial</a>
                <a href="/examples">Examples</a>
                <a href="//github.com/maxdore/elfe">Source</a>
            </div>
        </div>