<script>
    window.content = `Include relations.

Let R be relation.

Lemma: R ∪ (R⁻¹) is symmetric.
Proof:
    Assume (R ∪ (R⁻¹))[x,y].
    Then R[x,y] or (R⁻¹)[x,y].
    Case R[x,y]:
        {INSERT-SOLUTION-HERE}.
    qed.
    Case (R⁻¹)[x,y]:
        {INSERT-SOLUTION-HERE}.
    qed.
    Hence (R ∪ (R⁻¹))[y,x].
qed.`;
</script>

<h1>Exercise 3</h1>

<p>We will now learn more about relations and do our first proof by cases.</p>

<p>R⁻¹ stands for the inverse of the relation R. That means if R[x,y], then (R⁻¹)[y,x]. The converse also holds, that means (R⁻¹)[x,y] implies R[y,x].</p>

<p>R ∪ S stands for the union of two relations R and S – that means it contains all tuples that R and S contained.</p>

<p>A relation is said to be symmetric if it always goes both ways: If R[x,y], then also R[y,x].</p>

<p>Try to complete the proof by inserting something for "{INSERT-SOLUTION-HERE}"!</p>

<p>Note that we do a case analysis in the proof: Since we do not know if R[x,y] or (R⁻¹)[x,y] holds, we proof both cases. Every proof of a case needs to be closed by "qed.".</p>

<p>Take care to always use parentheses around special notations: You need to write (R⁻¹)[x,y] instead of R⁻¹[x,y].</p>

<div class="prover">
    <div class="bar">
        <a class="specialKey" @click="insertKey('∈')">∈</a>
        <a class="specialKey" @click="insertKey('∩')">∩</a>
        <a class="specialKey" @click="insertKey('∪')">∪</a>
        <a class="specialKey" @click="insertKey('⊆')">⊆</a>
        <a class="specialKey" @click="insertKey('ᑦ')">ᑦ</a>
        <a class="specialKey" @click="insertKey('->')">-></a>
        <a class="specialKey" @click="insertKey('∘')">∘</a>
        <a class="specialKey" @click="insertKey('⁻¹')">⁻¹</a>
        <a class="specialKey" @click="insertKey('[')">[</a>
        <a class="specialKey" @click="insertKey(']')">]</a>
        <a class="specialKey" @click="insertKey('{')">{</a>
        <a class="specialKey" @click="insertKey('}')">}</a>

        <button id="verifyButton" class="verify" @click="submit" :disabled="loading" v-html="loading ? 'Loading...' : 'Verify (ctrl+Enter)'"></button>
    </div>
    <textarea class="input" id="input" v-model="input" @keyup="renderLines" @click="renderLines" @scroll="renderLinesPos" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></textarea>
    <div class="output">
        <img v-show="loading" class="loading" src="images/loading.gif" >
        <span v-show="!loading" v-html="output"></span>
    </div>
    <div class="pos">Line <span v-html="row"></span>, Col <span v-html="col"></span></div>

    <div class="linewrapper"></div>
</div>

<br /><a href="/training?exercise=4" class="button">Go to next exercise</a>
