body {
    font-family: 'Lato', Arial;
    color: #555;
}

.header {
    padding: 20px 0 0;
}

.nav {
    float: right;
    padding-top: 24px;
}

.nav a {
    text-decoration: none;
    display: inline-block;
    margin-left: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #1EAEDB;
}

.nav a.active {
    border-bottom: 5px solid #DB7D1E;
}

h1 {
    font-size: 30px;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

h2 {
    font-size: 25px;
    padding: 6px 0;
    border-bottom: 1px solid #eee;
}

.footer {
    text-align: right;
    color: #777;
    margin: 20px 0;
}