.header {
    padding: 20px 0 0;
}

.nav {
    float: right;
    padding-top: 24px;
}

.nav a {
    font-family: 'Lato', Arial;
    text-decoration: none;
    display: inline-block;
    margin-left: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #1EAEDB;
}

.nav a.active {
    border-bottom: 5px solid #DB7D1E;
}

h1 {
    
}

.footer {
    text-align: right;
    color: #777;
}