.prover {
    font-family: 'Droid Sans Mono', monospace;
    font-size: 15px;
    position: relative;
}

.input {
    display: block;
    height: 500px;
    width: 100%;
    padding-left: 4%;
    border-radius: 4px 4px 0 0;
    resize: none;
    z-index: 10;
    position: relative;
    background: transparent;
    margin: 0;
}

.output {
    white-space: pre;
    padding: 12px;
    height: 274px;
    background-color: #f7f7f7;
    border: 1px solid #d1d1d1;
    border-top: 0;
    border-radius: 0 0 4px 4px;
}

.pos {
    position: absolute;
    right: 10px;
    top: 470px;
    color: #bbb;
    z-index: 2;
}

.linewrapper {
    position: absolute;
    top: 5px;
    left: 1px;
    width: 100%;
}

.line {
    height: 24px;
    /*border-bottom: 1px solid #eee;*/
    z-index: 1;
}
.line .number {
    color: #e1e1e1;
    margin-left: 3px;
    padding-top: 5px;
    text-align: right;
    width: 20px;
    font-size: 12px;
    font-family: monospace;
}

.line.active {
    background-color: #eee;
}
.line.active .number {
    color: #bbb;
}


.line.correct {
    background-color: #efe;
}
.line.active.correct {
    background-color: #bfb;
}
.line.error {
    background-color: #fee;
}
.line.active.error {
    background-color: #fbb;
}